<form method="post" action="{{ path('app_employee_achievement_delete', {'id': employee_achievement.id, 'employeeId': employee.id}) }}" onsubmit="return confirm('¿Estás seguro de eliminar el registro?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employee_achievement.id) }}">
    <button class="delete-icon">{{ ux_icon('ion:trash-outline') }} </button>
</form>
