{% extends 'base.html.twig' %}

{% block title %}Nueva observación{% endblock %}

{% block body %}
    <h1>Ingresar observación</h1>

    {{ include('employee_achievement/_form.html.twig') }}

    <div class="button-container">
        <button type="button" class="btn btn-dark">
            <a href="{{ path('app_employee_achievement_index', { 'employeeId': employeeId }) }}"> Regresar a la lista </a>
        </button>
    </div>
{% endblock %}
