
body {
    background-color: #ECEFF1;
    height: 100vh;
    font-family: "Segoe UI" !important; 

    nav {
        background-color: #173341;
        color: white !important;
        font-weight: bold;
    }
}

h1 {
    color: black;
    font-weight: bold;
}

h2 {
    color: black;
    font-weight: bold;
}

#main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#carouselExample {
    width: 50%;
} 

table {
    margin-top: 30px;
    border: 4px solid black;

    th {
        text-align: center !important;
        color: white;
        background-color: #173341 !important;
    }

    tr, td {
        background-color: white !important;
        text-align: center;
        font-weight: bold;
    }
 
    td {
        max-width: 300px; 
        white-space: normal;
        word-wrap: break-word; 
    }
}

.form-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            width: 157.6px;
            color: white;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }
}

.button-container {
    display: flex;
    gap: 22px;

    button {
        background-color: #173341 !important;
    }

    a {
        text-decoration: none;
        color:white;
        font-weight: bold;
    }
}

.not-found-data {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    img {
        height: 328px !important;
        border-radius: 40px;
    }

    p {
        font-size: 27px;
        color: black;
        font-weight: bold;
    }
}

.input {
    margin-top: 20px;
    margin-bottom: 10px !important;

    input {
        width: 300px !important;
    }
}

.buttons {
    background-color: #173341 !important;
    color: white;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;

    svg {
        color: #173341 !important;
        width: 29px;
    }
}

.eye {
    svg {
        margin-top: 3px;
    }
} 

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    button {
        width: 157.6px;
        color: white;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

.delete-button {
    width: 157.6px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;

    svg {
        width: 29px;
    }
}

.save-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   

    button {
        width: 157.6px;
        color: white;
        font-weight: bold;
        margin-bottom: 10px;
        background-color: #173341 !important;
    }
}

.employee-image {
    max-width: 130px;
    height: auto;
}   

.achievement-form {
    width: 458px !important;
}

.custom-checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.custom-checkbox-wrapper label {
    margin-right: 10px; /* Espacio entre el texto y el checkbox */
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer; /* Cambia el cursor cuando pasas sobre el checkbox */
}


.delete-icon {
    background-color: transparent;
    border: transparent;
    svg {
      width: 29px;
      color: red;     
    }
}