<form method="post" action="{{ path('app_employee_delete', {'id': employee.id}) }}" onsubmit="return confirm('¿Estás seguro de eliminar el registro?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employee.id) }}">
    <button class="btn btn-danger delete-button" style="margin-top: 20px">Eliminar {{ ux_icon('ion:trash-outline') }} </button>
</form>
