{% extends 'base.html.twig' %}

{% block title %}Nueva tienda{% endblock %}

{% block body %}
    <h1>Ingresar tienda</h1>

    <div class="form-container">
         {{ include('store/_form.html.twig') }}

        <div class="button-container">
            <button type="button" class="btn btn-dark">
                <a href="{{ path('app_store_index') }}"> Regresar a la lista </a>
            </button>
        </div>
    </div>
   
{% endblock %}
