{% extends 'base.html.twig' %}

{% block title %}Nuevo puesto{% endblock %}

{% block body %}
    <h1>Ingresar puesto</h1>

    <div class="form-container">
        {{ include('positions/_form.html.twig') }}
    
        <div class="button-container">
            <button type="button" class="btn btn-dark">
                <a href="{{ path('app_positions_index') }}"> Regresar a la lista </a>
            </button>
        </div>
    </div>
{% endblock %}
